header, footer{
    background-color: black;
}
body{
    background-color: black;
    position: relative;
}

.nav__link{
    margin-left: 30px;
    color: white;
    text-align: justify;
    display: inline-block;
    font-size: 1.2rem;

}
.nav__link:hover{
    color: white;
    cursor: pointer;
}
.nav__home{
    /*    left: 0;
        position: absolute;*/
}
.top__notification{
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer__nav{
    list-style: none;
}
.footer__nav__item{
    color: #AAAAAA;
    font-size: 1.2rem;
}
.footer__nav__item:hover{
    color: gray;
}
.footer__nav__item pt-3{
    text-align: center;
}
.footer__social__icon{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 40px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__social__icon i{
    color: white;
    font-size: 2rem;
}
p{
    color: white;
}
#item_field{
    width: 200px;
    height: 200px;
}

#add_btn{
    background-color: tomato;
}
#section_field{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div_item{
    margin: 5% 2%;
}
.tovar{
    background-color:#0b2e13 ;
}
button{
    background: red;
}
.uncvisible{
    display: none;
}

.visible{
    display: block;
    background-color: wheat;
    width: 300px;
    height: 300px;
}
#cart{
    position: fixed;
    right: 5%;
    top: 60%;
}

.registration_form{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 42%;
    height: 85%;
    top: 5%;
    left:30%;
    background-color: white;
    border-radius: 2%;
    font-weight: bold;

}

.registration_form > input{
    margin: 0 10px;
    height: 50px;
    width: 80%;
    align-self: center;

}
.registration_form > label{
    margin-top: 26px;
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.registration_form > button{
    margin-top: 30px;
    width: 40%;
    height: 10%;
    align-self: center;
    border-radius: 8px;
    font-weight: bold;

}
#user-name, #password, #password_one_more_time, #user-email{
    border-radius: 10px;
}
.accepted{
    border:2px solid green;
}

.non-accepted{
    border:2px solid red;
}
.display_none{
    display: none;
}

.greeting_div{
    display: block;
    position: fixed;
    width: 42%;
    height: 50%;
    top: 10%;
    left:30%;
    background-color: rgb(156,162,165);
    border-radius: 2%;
}


.add_Item_btn{
    background-color: red;
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
}
.checkout{
    background-color: lightgreen;
    /* border: 2px solid lightgreen;
    border-radius: 25px; */
}
#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.greetings{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 42%;
    height: 80%;
    top: 5%;
    left:30%;
    background-color: white;
    border-radius: 2%;
    color: black;
    font-weight: bold;
}

.filter_field{
    position: sticky;
    align-items: center;
    display: flex;
    justify-content: center;
}

.silencer_img{
    width: 60%;
}
.item_div{
    width: 30%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.item_div > p{
    color: black;
}

.silencer_name{
    font-weight: bold;
    font: 1.5em sans-serif;
}

.more_information_btn{
    color: black;
    border: black 2px solid;
    border-radius: 50%;
    font-size: 1em;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 85%;
    right: 15%;


}

.more_information{
    margin: 7% 3%;
}

header {
    position: sticky;
}

.itemInTheCartDiv{
    width: 20%;
    height: 5%;
    display: block;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20%;
    right: 10%;
    z-index: 3;
}